{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".ts", ".tsx", ".js", ".json", ".svg"]
      }
    ],
    ["inline-react-svg"]
  ]
}
